# **Tuple**

collection of data separated by comma declared inside paranthesis ( )

In [ ]:
a=( ) # empty tuple

a1= (1,2,3,4) # tuple with int numbers (Homogeneous Tuple)

a2= (1.2,3.4,5.6,7.8) # tuple with float numbers (Homogeneous Tuple)

a3= ('1','a','b') # tuple with strings (Homogeneous Tuple)

a4= ("disco",10,1.2) # tuple with distinct data types (Heterogeneous Tuple)

a5=(1,2,3.6,7,('a',5,8.9)) # nested tuple

In [ ]:
a5=(1,2,3.6,7,('a',5,8.9)) # nested tuple

In [ ]:
#indexing
a5[3]

7

In [ ]:
a5[4]

('a', 5, 8.9)

In [ ]:
a5[4][1]

5

In [ ]:
#slicing
a5[2:4]

(3.6, 7)

In [ ]:
#stride
a5[0:5:2]

(1, 3.6, ('a', 5, 8.9))

In [ ]:
#nested tuple
nested=(1,2,("pop","rock"),(3,4),("disco",(1,2)))

In [ ]:
#accessing letter 's' from disco
nested[4][0][2]

's'

In [ ]:
l=[2,3,4,5,'a',9.8]

In [ ]:
#list allowing to add data
l.append(30)
l

[2, 3, 4, 5, 'a', 9.8, 30]

In [ ]:
#tuple is not allowing to add data
l1=(2,3,4,5,'a',9.8)
l1.append(30)
l1

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
l.extend([4,5])
l

[2, 3, 4, 5, 'a', 9.8, 30, 4, 5]

In [ ]:
l[2]

4

In [ ]:
#list is mutable data type
l[2]=90
l

[2, 3, 90, 5, 'a', 9.8, 30, 4, 5]

In [ ]:
#tuple is immutable
l1[2]=90

TypeError: 'tuple' object does not support item assignment

# **converting list to tuple**

type casting: converting one data type to another

In [ ]:
int(input("enter a number:"))

enter a number:7

7

In [ ]:
L=[2,3.4,'A']

In [ ]:
type(L)

list

In [ ]:
tuple(L)

(2, 3.4, 'A')

In [ ]:
tuple([3,4,5,6,7])

(3, 4, 5, 6, 7)

In [ ]:
float(9)

9.0

# **Concatenation and Repetition**

In [ ]:
# Concatenation
tuple1 = (1, 2)
tuple2 = (3, 4)
new_tuple = tuple1 + tuple2
print(new_tuple)  # Output: (1, 2, 3, 4)

# Repetition
repeated_tuple = tuple1 * 3
print(repeated_tuple)  # Output: (1, 2, 1, 2, 1, 2)

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

# **Membership Testing**

In [ ]:
# Check if an element exists in a tuple
my_tuple = (1, 2, 3, 4)
print(3 in my_tuple)   # Output: True
print(5 in my_tuple)   # Output: False

True
False

# **Iterating Through a Tuple**

In [ ]:
# Using a for loop
my_tuple = (1, 2, 3)
for item in my_tuple:
    print(item)  # Output: 1, 2, 3 (on separate lines)

# Using while loop
i = 0
while i < len(my_tuple):
    print(my_tuple[i])  # Output: 1, 2, 3 (on separate lines)
    i += 1

1
2
3
1
2
3

# **Tuple Length**

In [ ]:
# Finding the length of a tuple
my_tuple = (1, 2, 3, 4)
print(len(my_tuple))  # Output: 4

4

# **Tuple Index and Count**

In [ ]:
# Finding the index of an element
my_tuple = (1, 2, 3, 2, 4)
print(my_tuple.index(2))  # Output: 1 (first occurrence of 2)

# Counting occurrences of an element
print(my_tuple.count(2))  # Output: 2 (2 appears twice)

1
2

# **Tuple Packing and Unpacking**

In [ ]:
# Tuple packing
packed_tuple = 10, 20, 30
print(packed_tuple)  # Output: (10, 20, 30)

# Tuple unpacking
a, b, c = packed_tuple
print(a, b, c)  # Output: 10 20 30

# Using * for unpacking
my_tuple = (1, 2, 3, 4, 5)
first, *middle, last = my_tuple
print(first)   # Output: 1
print(middle)  # Output: [2, 3, 4]
print(last)    # Output: 5

(10, 20, 30)
10 20 30
1
[2, 3, 4]
5

# **Sorting and Reversing a Tuple**

In [ ]:
# Sorting a tuple
my_tuple = (3, 1, 4, 2)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)  # Output: (1, 2, 3, 4)

# Reversing a tuple
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)  # Output: (2, 4, 1, 3)

(1, 2, 3, 4)
(2, 4, 1, 3)

# **Using Tuples as Dictionary Keys**

In [ ]:
# Tuple as a dictionary key
my_dict = {(1, 2): "a", (3, 4): "b"}
print(my_dict[(1, 2)])  # Output: a

a

# **Tuple Methods**

In [ ]:
# Tuples have only two built-in methods: count() and index()

# count()
my_tuple = (1, 2, 3, 2, 4)
print(my_tuple.count(2))  # Output: 2 (2 appears twice)

# index()
print(my_tuple.index(3))  # Output: 2 (first occurrence of 3)

2
2